.botao-inscrever{
    background-color:green;
}
.card-container{
    border: 3px solid black;
}
#conheça-ritma{
    border: 3px solid firebrick;
}
border-width: 30px; // Estiliza a sua largura
border-style: solid; // Estiliza seu estilo
border-color:  blue; // Estiliza sua cor


Utilizamos essa propriedade para alterar a cor do plano de fundo, seja de um elemento ou do documento como um todo. Para isso, basta atribuir a cor desejada à propriedade background-color, declarada dentro do seletor no qual ela deve ser aplicada.
Exemplos de uso:
/* Plano de fundo em vermelho e opacidade de 50% */
background-color: rgba(255,0,0,0.5);


Por padrão, a imagem é inserida no canto superior esquerdo e repetida na vertical e na horizontal até que tenha preenchido 100% do corpo do elemento. Porém, podemos customizar esse e outros comportamentos com as propriedades que veremos a seguir.
Exemplo de uso:
background-image: url("pasta/Imagem.jpg");


Esta propriedade também é usada para calcular o tamanho de em, ex, e outras unidades <length>relacionadas.
/* <length> values */
font-size: 12px;
font-size: 0.8em;

Arredontar borda
border-radius: 10%;

text-align: center;